replicaCount: 1
image:
  repository: xiozip/app-python
  pullPolicy: IfNotPresent
  tag: "v1"
imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""
serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ""
podAnnotations: {}
#---!!!
podLabels: {app-python}
podSecurityContext: {}
securityContext: {}
#---!!!
service:
  type: LoadBalancer
  port: 8000
#---!!!
ingress:
  enabled: true
  className: ""
  annotations: {}
#---!!!
  hosts:
    - host: node-01.localdomain
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []
httpRoute:
  enabled: false
  annotations: {}
  parentRefs:
  - name: gateway
    sectionName: http
#---!!!   
   hostnames:
  - node-01.localdomain
  # List of rules and filters applied.
  rules:
  - matches:
    - path:
        type: PathPrefix
        value: /headers
  #   filters:
  #   - type: RequestHeaderModifier
  #     requestHeaderModifier:
  #       set:
  #       - name: My-Overwrite-Header
  #         value: this-is-the-only-value
  #       remove:
  #       - User-Agent
  # - matches:
  #   - path:
  #       type: PathPrefix
  #       value: /echo
  #     headers:
  #     - name: version
  #       value: v2

resources: {}
 limits:
   cpu: 100m
   memory: 128Mi
   requests:
   cpu: 100m
   memory: 128Mi
livenessProbe:
  httpGet:
    path: /
    port: http
readinessProbe:
  httpGet:
    path: /
    port: http

autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 8
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80
volumes: []
  # - name: foo
  #   secret:
  #     secretName: mysecret
  #     optional: false
volumeMounts: []
  # - name: foo
  #   mountPath: "/etc/foo"
  #   readOnly: true
nodeSelector: {}
tolerations: []
affinity: {}
